.posticon2 {width:50px;
  height:50px;
object-fit:cover;
  border-radius:7px;
  object-fit:cover;
margin:5px;
  padding:2px;
  border: 2px solid #353331;
  display:in-line block;
        transition: transform 0.5s ease; 
}
.posticon2:hover{width:100px;
  height:100px;
object-fit:cover;
  border-radius:7px;
  object-fit:cover;
margin:5px;
  padding:2px;
  border: 2px solid #353331;
   background: #1c1c1b;
       transform:scale(2) 
}

/* NAVBAR - ARTEMIS POUR ARTIFICES */

:root
{
 --couleur-bleue: #91b5bf;
}

.bodylinewidth
{
 margin-top: 40px;
}

.navbar_arte
{
 width: 100%;;
 background: #1c1c1b;
  color:white;
 height: 70px;
 position: fixed;
 top: 0;
 left: 0;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 padding: 5px 15px 0 5px;
 z-index: 999;
  border-bottom: 2px solid; 
    border-image: linear-gradient(to right, #5b3f34, #8F7563, #5b3f34) 1; 
}

.avatar_navbar
{

 -webkit-box-sizing: border-box;
 box-sizing: border-box;
margin-left:0px;
 display: inline-block;
 float: left;
}

.avatar_navbar img
{
 width: 50px;
 height: 50px;
 -o-object-fit: cover;
 object-fit: cover;
   padding: 2px;
  border-radius:7px;
 background: #1c1c1b;
  padding:2px;
  border: 2px solid #353331;
}

.bloc_pseudo_search
{
 font: 9px montserrat;
 width: 300px;
 display: inline-block;
 text-transform: uppercase;
 letter-spacing: 2px;
 height: 60px;
 vertical-align: top;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 padding: 10px 5px;

  font-weight:bold;
 float: left;
 text-align: left;
 margin-left: 5px;
}

.bloc_pseudo_search li
{
 list-style-type: none;
}

.navbar_arte form
{
 height: 20px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 width: 100%;
 background: #292725;
 padding: 0;
 margin-top: 8px;
}

.navbar_arte form input[type="submit"]
{
 border: none!important;
  background: #5b3f34;
 color: #292725 !important;
 padding: 0 10px!important;
 margin:0!important;
 border-radius:0!important;
 -webkit-box-shadow:none!important;
 box-shadow:none!important;
}

.navbar_arte form input[type="text"]
{
 cursor: text;
 border: none!important;
 width: 100%;
 min-width: 150px;
 padding: 0 8px!important;
 margin:0!important;
 background: rgba(255,255,255,0.05)!important;
 color: lightgray;
 font-size:11px;
 border-radius:0!important;
 -webkit-box-shadow:none!important;
 box-shadow:none!important;
 text-transform: uppercase !important;
 font: 10px calibri !important;
 letter-spacing: 2px !important;
}

.navbar_arte form input
{
 outline: none;
 font-size:11px;
}

.link_navbar
{
 float: right;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 padding: 25px 15px;
 font: 10px montserrat;
 text-transform: uppercase;
}

.link_navbar a
{
 text-decoration: none;
 margin: 0 5px;
 font-weight: 600;


}

.link_navbar a img
{
 display: none;
}

.link_navbar a:hover
{
 text-decoration: none !important;
  background-image: linear-gradient(to right, #5b3f34, #8F7563);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}




.link_navbar a[href^="search"]
{
 display: none;
}

.link_navbar li
{
 list-style-type: none;
 display: inline-block;
}



.sprite-icon_minipost_new {
position: absolute;
   left: 62.3%; 
  margin-top:3px;
}

.row1 img[title="New posts"] {
  width:55px;
  height:55px;
border-radius:100px;
  object-fit:cover;
margin:5px;
  padding:2px;
  border: 2px solid #353331;
}

.row1 img[title="No new posts"] {
  width:55px;
  height:55px;
border-radius:100px;
  object-fit:cover;
margin:5px;
  padding:2px;
  border: 2px solid #353331;
}

.Inesosmygtukas {text-transform:uppercase;
font-weight:bold;
font-family:pt sans narrow;
font-size:8px;
align:right;
border:1px solid #353331;
padding:4px;
background-image: linear-gradient(to right, #5b3f34, #8F7563);
border-radius:7px;
color:white !important;
letter-spacing:1px;}



/* BLOC IMAGE DESCRIPTIVE FORUM */
.boxDESC {
display:inline-block; vertical-align:top;
width:100px; height:200px;
background:#191919; 
}
/* IMAGE DESCRIPTIVE FORUM */
.descFRM img {
  width:50px; 
  height:50px;
  border-radius:100px;
  object-fit:cover;
margin:5px;
  padding:2px;
  border: 2px solid #353331;
}
  
  
/* BLOC TITRE CATEGORIE */
.tleCAT {
margin:5px auto 0;
width:1050px; padding:10px 0; text-align:center;
background:#74878B; /* MODIFIABLE */
background-image: linear-gradient(to right, #5b3f34, #8F7563, #5b3f34);
  border-radius:7px;
  margin-bottom:5px;
  margin-top:5px;
}
/* TITRE CATEGORIE */
.tleCAT h2 {
margin:0;
font-size:15px; text-transform:uppercase; font-family:Arial;
letter-spacing:3px;  
  color:white;
}
/* BLOC FORUM */
.FRM {
margin:0 auto 10px;
width:1030px; padding:10px; overflow:hidden;
text-align:center; font-family:Arial;
background:#292725;
    border-radius:7px;
  border: 0px solid #353331;
}
/* BLOC TITRE / DERNIER MESSAGE / DESCRIPTION FORUM */
.boxFRM {
display:inline-block; vertical-align:top;
}
/* BLOC TITRE FORUM */
.tleFRM {
margin:0 auto 5px;
height:20px; padding:5px 7px; overflow:hidden;
font-style: italic;
text-align:left; font-size:12px; font-weight:bold; text-transform:uppercase; line-height:20px;
      transition: letter-spacing 0.6s ease; /* Smooth transition effect */
}

.tleFRM:hover {
  letter-spacing: 2px;}


/* TITRE FORUM */
.tleFRM a {

}
/* DERNIER MESSAGE FORUM */
.lmsgFRM {
margin-bottom:5px;
height:10px; padding:5px; overflow:hidden;

text-align:right; font-size:9px; text-transform:uppercase; line-height:11px;
    border-radius:7px;
  border: 0px solid #353331;
  font-family:pt sans narrow;
}
/* COULEUR TITRE SUJET DERNIER MESSAGE FORUM */
.lmsgFRM a {
font-size:11px !important;

}
/* DESCRIPTION FORUM */
.descFRM {
width:600px; height:60px; padding:5px; overflow:hidden;
background:#292725;
text-align:justify; font-size:11px; line-height:16px;
    font-size:8px;
  text-transform: uppercase;
  letter-spacing:1px;
vertical-align:middle;
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  text-align:justify;
  border-radius:7px;
  border: 0px solid #353331;
}
.descFRM:hover {
overflow-y:auto;
}
/* AVATAR DERNIER POSTEUR FORUM */
.avaFRM {
display:inline-block; vertical-align:top; margin:0 10px;
width:50x; height: 120px; object-fit:cover; overflow:hidden;
background:#191919; /* MODIFIABLE */
    border-radius:7px;
  border: 2px solid #353331;

  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background: #292725;
  padding: 3px;
  opacity:0.8;
}
.avaFRM img {
width:50px; height: 120px; object-fit:cover; 
      border-radius:7px;
}

/* BLOC SOUS-FORUMS / ICÔNES / NOMBRE SUJETS & MESSAGES FORUM */
.boxIIFRM {
display:inline-block; vertical-align:top;
width:325px; overflow:hidden; text-align:left;
}
/* BLOC SOUS-FORUMS */
.sfFRM {
  margin-bottom:10px;
width:294px; height:75px; padding:5px; overflow:hidden;
text-align:left; padding-left:20px;line-height:2px;
  font-family:pt sans narrow;
  font-weight:bold;
  letter-spacing:2;
  background:#292725;
transition:all 0.65s linear; -webkit-transition:all 0.65s linear;
    border-radius:7px;
  border: 2px solid #353331;
  color:#292725;
background-image: url('https://i.imgur.com/izDLMSq.gif'), linear-gradient(to right, #292725, #191919);
  background-repeat: no-repeat;
} 

.sfFRM:hover {
overflow-y:auto;
}
/* LIENS SOUS-FORUMS */
.sfFRM a {
display:block; margin-bottom:3px;
padding-bottom:2px; border-bottom:1px solid;
font-size:9px; text-transform:uppercase; line-height:5px;
border-bottom-color:#292725; color: !important; 
  border-bottom: 0px solid;
    transition: letter-spacing 0.6s ease; 
}

.sfFRM a:hover {
letter-spacing:4px;
}

/* ICÔNES FORUM */
.imgFRM {
display:inline-block; vertical-align:top;
width:225px; height:25px;
  object-fit:cover;
    border-radius:7px;
  border: 1px solid #353331;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background: #292725;
  padding: 2px;
}
/* NOMBRE SUJETS FORUM */
.nbFRM {
display:inline-block; vertical-align:middle; margin:0 10px;
width:35px; height:19px; padding-top:10px; overflow:hidden;
text-align:center; font-size:9px; text-transform:uppercase; line-height:14px;
background:#191919; color:white; /* MODIFIABLE */
    border-radius:7px;
  border: 1px solid #353331;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
font-weight:bold;
  opacity:0.6;
}
/* NOMBRE MESSAGES FORUM */
.nbIIFRM {
margin:0;
background:#191919; color:white; /* MODIFIABLE */
    border-radius:7px;
  border: 1px solid #353331;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
font-weight:bold;
  opacity:0.6;
}




@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap');
nickname {font-size:9px; font-family:pt sans narrow; color:grey;font-weight:bold;}

dmmsg-container {
  display: block; /* Ensure the container is block-level */
}

dmmsg {
  font-size: 11px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #c4c4c4;
  width: auto;
  line-height: 11px;
  border-radius: 7px;
  background: #333631;
  padding: 7px;
  margin-top: 3px;
  display: inline-block; 
}

.butybiuanketa {
 width:70%;
  table-layout: fixed;
border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background: #21211F;
  border-radius:7px;
font-family:pt sans narrow;
  font-size: 10px;
  letter-spacing:1px;
vertical-align:top; 
  padding: 10px;
text-align: justify;
  border-spacing: 5px;
  margin-bottom:5px;
margin:8px;}

.butybiuklausimas {color:white;
font-family:pt sans narrow;
font-size:12px;
font-weight:bold;
letter-spacing:1px;
text-transform: uppercase;}

.siuometuonline {font-size: 0px;
    overflow: auto;
}


.qeel_groups {      display: flex;
    width: 100%;
    margin-bottom:1px;
  margin-top:8px;

}
.group {    border: 1px solid #2C2C29; box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); background: #21211E; border-radius:7px; padding:6px;
    width: 100%; 
    text-align: center;
    text-transform: uppercase;margin:0 7px 0 0;
    font-size: 10px;
    font-weight: 600;
font-family:pt sans narrow;
letter-spacing:1px;}

.siuometuonline a {font-family:pt sans narrow;
font-size: 11px;
letter-spacing:1px;
text-transform:uppercase;
    margin-left:6px;}

.forumostatistika {
width:101%;
  table-layout: fixed;
font-family:pt sans narrow;
  font-size: 7px;

vertical-align:top; 
text-transform:uppercase;
  border-spacing: 7px;
  margin-bottom:5px;
  font-weight:bold;
  text-align:justify;
  margin-left:-6px;
}

.prisijungepara {font-size:0px; width:100%;
    border: 1px solid #2C2C29; box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); background: #21211E; border-radius:7px; padding:6px;
  color:white !important;
}

.prisijungepara a {
font-family:pt sans narrow;
  font-size: 9px;
  letter-spacing:1px;
vertical-align:center; 
text-transform:uppercase;
  font-weight:bold;
  text-align:justify;
}

.gimtadieniai{background-image: linear-gradient(to right, #5b3f34, #8F7563);
  border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  border-radius:7px;
font-family:pt sans narrow;
  letter-spacing:1px;
  text-transform:uppercase;
  font-size: 9px;
  margin-bottom:5px;
  padding:5px;
  color:white;
}

bdaymonth {
font-weight: bold;
color: #4A413B;
font-size:7px;
}

bday {
font-weight: bold;
color: #4A413B;}

.gimtadieniulentele {width:100%;
  table-layout: fixed;
border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background: #21211F;
  border-radius:7px;
font-family:pt sans narrow;
  font-size: 6px;
  letter-spacing:1px;
vertical-align:top; 
  padding: 10px;
text-transform:uppercase;
  border-spacing: 5px;
  margin-bottom:5px;
  font-weight:bold;
}

.siandiensiasavaite {width:100%;
  table-layout: fixed;
border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background: #21211F;
  border-radius:7px;
vertical-align:top; 
  padding: 10px;
text-align:center;
  font-family: 'PT Sans Narrow';
    font-size: 8px;
  letter-spacing: 0px;
text-transform: uppercase;
font-weight:bold;}




.administracija { font-family:'PT Sans Narrow',sans-serif;
  border-radius:7px;
text-transform:uppercase;
  font-size: 8px;
    letter-spacing: 1px;
  line-height:6px;
  padding:5px;

color: white;
  text-align:right;
  margin-right:26px;
  margin-top:15px;
  margin-bottom:-13px;
  width:180px;
}

.generalitiesnuoroda {
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
   transition: text-decoration 1s ease;
  line-height:9px;
  padding:1px;
    background-image: linear-gradient(to right, #8F7563, #667062);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.generalitiesnuoroda:hover {
      text-decoration: #756059 underline;
}

.generalitiestekstukas {
  text-align: justify;
  font-family:pt sans narrow, sans-serif;
  font-size:8px; margin-left:-5px;
}

.welcometoforks {
  border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  border-radius: 7px;
      padding: 5px;
    margin-bottom:5px;
      background: #292725;
color: #756059;
  border-radius:7px;
  padding:4px;
  font-weight: bold;
font-family: 'PT Sans Narrow',sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
  font-weight:bold;
  text-transform:uppercase;
margin-bottom:3px;}

.aesthetictekstukas { font-family: 'PT Sans Narrow',sans-serif;
  border-radius:7px;
text-transform:uppercase;
  font-size: 7px;
    letter-spacing: 1px;
  line-height:6px;
  padding:5px;
  margin-top:-6px;
  background-image: linear-gradient(to right, #5b3f34, #8F7563);
color: white;
  text-align:right;
  width:147px;
}
.generremas {
  background: #292725;
border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  padding: 5px;
  border-radius: 7px; margin-left:-7px; margin-right:-8px;
}

.adminimage {height: 86px; 
  width: 40px; object-fit: cover; 
  border: 2px solid #292725; 
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  background: #292725;border-radius: 7px;
margin-top:4px;}

.baigiamasiszodis {border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  border-radius: 7px;
      padding: 5px;
      background: #292725;
color: #756059;
  padding:4px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:1px;
font-family: 'PT Sans Narrow',sans-serif;
    font-size: 7px;
  font-weight:bold;
text-align:center;
  margin-top:6px;
width:1010px;
margin-left:-15px;}

.forksmiestelis {
  border-radius: 7px;
  padding: 5px;
}

label img{
  max-height:10px;}

.codebox .genmed{
 font-size:10px;
font-family:pt sans narrow;
letter-spacing:1px !important;
  margin-bottom:5px;
  text-transform:uppercase;
}

.supportingcharacter img{
  width:200px;
  height:300px;
  object-fit: cover;
  border: 3px solid #3b3936;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  border-radius: 7px;
}

.supportingcharacterdesc {
    width: 190px;
    height: 290px;
    background: #21211F;
    font-family: 'pt sans narrow', sans-serif; 
    letter-spacing: 1px;
    text-align: justify;
    font-size: 12px;
    overflow: auto; 
    padding: 5px;
    border: 3px solid #3b3936;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
    border-radius: 7px;
  line-height:12px;
}
.supportingcharacterdesc::-webkit-scrollbar {
  width: 0px; 
  height: 2px;
}
.supportingcharactername{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
display: normal;
font-size: 20px;
line-height:20px;
text-align: center; 
font-style: normal;
text-decoration: none;
text-transform: uppercase;
font-family: 'source sans pro'!important;
  font-weight:bold;
}
  
.field_uneditable img {height:10px;}
.profilioparinktis {
  text-align:left !important;}

straipsniopsl {
display: block; 
  font-size: 9px;
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  color: #BAACA3;
  text-align: right;
  width: 100%;
  margin-top: -25px;}

straipsniopsl2 {
display: block; 
  font-size: 9px;
  font-weight: bold;
  font-family: 'PT Sans Narrow';
  color: #BAACA3;
  text-align: right;
  width: 100%;
  margin-top: -45px;}

laikrascioantraste {
    display:block;
  font-weight:bold;
font-size:12px;
font-family:pt sans narrow;
text-transform:uppercase;
color:#BAACA3;
 max-width:435px;}

antrastesaprasymas {
  display:block;
font-size:9px;
font-family:pt sans narrow;
font-style: italic;
text-align:justify;
 max-width:435px !important;
line-height:9px;}

interviuklausimas {
    display:block;
  font-weight:bold;
font-size:12px;
font-family:pt sans narrow;
text-transform:uppercase;
color:#BAACA3;}

interviuatsakymas {
  display:block;
font-size:10px;
font-family:pt sans narrow;
text-align:justify;
line-height:9px;}

@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');


a[href="faq"] { display: none; position: absolute;}
a[href="groups"] { display: none; position: absolute;}
a[href="calendar"] { display: none; position: absolute;}

/* AFFICHAGE DU PROFIL */
.PFIL {
margin:auto; width:800px; font-family:'pt sans narrow';  letter-spacing:1px; line-height: 10px;
}
/* BLOC PSEUDONYME PROFIL */
.namePFIL {
height:20px; padding:15px;
text-transform:uppercase; text-align:left;
background-image: linear-gradient(to right, #5b3f34, #8F7563);
}
/* PSEUDONYME PROFIL */
.namePFIL span strong {

color:white;font-weight:bold;
}
/* INFORMATIONS / AVATAR / IMAGES CONTACT PROFIL */
.boxPFIL {
margin-top:10px; width:800px;
}
/* BLOC INFORMATIONS PROFIL */
.abtPFIL {
display:inline-block; vertical-align:top; width:500px; height:255px; padding:10px; overflow-y:auto;
font-size:11px;
background:rgba(0,0,0,0.5); /* MODIFIABLE */
}
/* INTITULES INFORMATIONS PROFIL */
.abtPFIL div span {
font-weight:bold; text-transform:uppercase;
}
/* INFORMATIONS PROFIL */
.abtPFIL div{
padding:2px 0;
}
.abtPFIL .field_uneditable {
display:inline-block;
}
/* BLOC AVATAR PROFIL */
.avPFIL {
display:inline-block; vertical-align:top; margin:-45px 10px 0;
width:200px; height:300px; overflow:hidden;
  border-radius: 10px;
}
/* BLOC IMAGES CONTACT PROFIL */
#ktactPFIL {
display:inline-block; vertical-align:top; width:60px; height:275px;
background:rgba(0,0,0,0.8); /* MODIFIABLE */
}
/* IMAGES CONTACT PROFIL */
.ktactPFIL {
display:block; margin:10px auto 0; max-width:40px; overflow:hidden; text-align:center;
}
.ktactPFIL img {
margin:auto; max-width:40px;
}
.ALPFIL {
height:275px;
}
/* BLOC SUJETS & MESSAGES UTILISATEUR - DERNIERE VISITE & ADMINISTRATION PROFIL */
.btmPFIL {
margin-top:10px; padding:10px;
text-transform:uppercase; text-align:left;
background:#292725;  /* MODIFIABLE */
}
/* SUJETS UTILISATEUR PROFIL */
.sbjPFIL {
display:inline-block; vertical-align:middle;
width:55px; height:27px; padding:13px 10px 0;
text-transform:uppercase; text-align:center; font-size:9px; font-weight:bold;
background:#444D44; color:white !important; /* MODIFIABLE */
}
/* MESSAGES UTILISATEUR PROFIL */
.msgPFIL {
display:inline-block; vertical-align:middle; margin:0 10px;
width:75px; height:27px; padding:13px 10px 0;
text-transform:uppercase; text-align:center; font-size:9px; font-weight:bold;
background:#444D44; color:white !important; /* MODIFIABLE */
}
/* DERNIERE VISITE PROFIL */
.lstPFIL {
width:350px;
font-size:9px; text-transform:uppercase; text-align:right; line-height:14px; font-weight:bold;
color:white; /* MODIFIABLE */
}
/* INTITULE DERNIERE VISITE PROFIL */
.lstPFIL span {
color:white; /* MODIFIABLE */
}
/* ADMINISTRATION PROFIL */
.adminPFIL {
margin-top:5px; padding-top:5px; border-top:1px solid;
font-size:9px; text-align:right; text-transform:uppercase;
border-color:white; color:white; font-weight:bold;/* MODIFIABLE */
}
/* LIENS ADMINISTRATION PROFIL */
.adminPFIL a {
color:white; /* MODIFIABLE */
}
/* FEUILLE DE PERSONNAGE PROFIL */
.boxRPG {
margin-top:10px;
width:780px; padding:10px;
background:#1A1A1A; /* MODIFIABLE */
}
/* CONTENU FEUILLE DE PERSONNAGE PROFIL */
.boxRPG span {
text-transform:uppercase; color:#CCC; /* MODIFIABLE */
}
.boxRPG div:nth-of-type(1) br {
display:none;
}
/* MODERATION PROFIL */
.ajax-profil_edit {
position:absolute; z-index:15; margin-top:4px; margin-left:7px;
}
.ajax-profil_edit img{
width:7px;
}

:root {
    --switcheroo-text: #6E6761;
    --switcheroo-close: #D31141; /* couleur de fond des boutons de fermeture/suppression */
    --switcheroo-link: #000;
    --switcheroo-light: #21211F;
    --switcheroo-lighter: #21211F;
    --switcheroo-grey: #292725;
    --switcheroo-greyer: #21211F;
    --switcheroo-border: 0px solid #292725;
    --switcheroo-font:'PT Sans Narrow';
    --switcheroo-gap-size: 9px;
    --switcheroo-ease: cubic-bezier(0.4, 0.0, 0.2, 1);
    --switcheroo-ease-bounce: cubic-bezier(0.43, 0.09, 0.38, 2.56);
    --switcheroo-img-width:35px;
    --switcheroo-img-height:35px;
}

/* BARRE SWITCHEROO --- */
.switcheroo {}

.switcheroo[position="static"] {
  position: relative;
}

/* si barre EN HAUT */
.switcheroo[position="top"] {
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 100;
}

/* si barre EN BAS */
.switcheroo[position="bottom"] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}

/* si barre A L'HORIZONTALE */
.switcheroo[direction="horizontal"] {
  width: 100%;
}

/* si barre A LA VERTICALE */
.switcheroo[direction="vertical"] {
  height: 90%;
}

/* Positionnement des ronds */
.switcheroo__squircles {
  display: flex;
  margin: 0;
  list-style: none;
  padding: var(--switcheroo-gap-size);
  gap: var(--switcheroo-gap-size);
}
.switcheroo[direction="horizontal"] .switcheroo__squircles {
  flex-direction: row;
}
.switcheroo[direction="vertical"] .switcheroo__squircles {
  flex-direction: column;
}

/* BARRE --- */
.switcheroo {
  color: var(--color-text);
  background-color: var(--switcheroo-light);
  border: var(--switcheroo-border);
  font-size: 9px;
  font-family: 'PT Sans Narrow';
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  overflow: auto;
  scrollbar-width: none; /* For Firefox to hide scrollbar */
}




/* AFFICHAGE DES COMPTES ---*/

/* Rond */
.switcheroo__squircle {
  position: relative;
  display: grid;
  place-items: center;
  background-color: var(--switcheroo-grey);
  width: var(--switcheroo-img-width);
  height: var(--switcheroo-img-height);
  border-radius: 50%;
  cursor: pointer;
  transition: border-radius 128ms var(--switcheroo-ease);
}

/* Rond au survol */
.switcheroo__squircle:hover {
  border-radius: 6px;
  background: var(--switcheroo-greyer)
}

/* Contenenur de l'avatar */
.switcheroo__avatar {}


/* Image de l'avatar */
.switcheroo__avatar img {
  width: var(--switcheroo-img-width);
  height: var(--switcheroo-img-height);
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  transition: border-radius 128ms var(--switcheroo-ease);
  position: relative;
border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
}

/* Image de l'avatar au survol */
.switcheroo__avatar img:hover {
  border-radius: 5px;
}

/* Avatar du compte connecté */
.switcheroo__squircle.active,
.switcheroo__squircle.active img {
  border-radius: 6px;
  cursor: default;
}


/* Indicateur de l'avatar survolé */
.switcheroo__squircle:before {
  content: "";
  display: block;
  background-color: var(--switcheroo-grey);
  border: var(--switcheroo-border);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0px;
  z-index: -1;
  transform : 128ms var(--switcheroo-ease), opacity 64ms var(--switcheroo-ease);
      box-shadow: 0px 0px 5px #756059;

}


/* Indicateur du compte sélectionné/actif */
.switcheroo__squircle.active:before {
    opacity: 1;
    border-radius: 8px;
}

.switcheroo__squircle:hover:before {
    border-radius: 8px;
    opacity: 1;
    transform : 128ms var(--switcheroo-ease), opacity 64ms var(--switcheroo-ease);
}


/* Bouton de suppression */
.switcheroo__delete {
  display: grid;
  place-items: center;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  right: -7px;
  border-radius: 50%;
  background-color: var(--switcheroo-close);
  transform: scale(0);
  opacity: 1;
  transition: transform 128ms var(--switcheroo-ease), opacity 64ms var(--switcheroo-ease);
  cursor: pointer;
  color: var(--switcheroo-light);
}
.switcheroo__squircle:hover .switcheroo__delete {
  opacity: 1;
  transform: scale(1);
}



/* TOOLTIP - INFOBULLE DU PSEUDO ---*/

/* Conteneur du pseudo */
.switcheroo__popper {
  background-color: var(--switcheroo-text);
  padding: 0.68rem 1rem;
  position: absolute;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 4px;
  z-index: 0;
  opacity: 0;
  transition: opacity 64ms var(--switcheroo-ease), transform 128ms var(--switcheroo-ease-bounce);
  pointer-events: none;
  color: #fff;
}

/* Conteneur du pseudo: si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper {
  left: 155%;
  top: 50%;
  transform-origin: left;
  transform: translateY(-50%) scale(0.98);
}
/* Conteneur du pseudo : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper {
  top: 155%;
  left: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(0.98);
}

/* Flèche tooltip */
.switcheroo__popper:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--switcheroo-text);
  z-index: -1;
}

/* Flèche tooltip : si vertical */
.switcheroo[direction="vertical"] .switcheroo__popper:before {
  left: -2px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Flèche tooltip : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__popper:before {
  left: 50%;
  top: -2px;
  transform: translateX(-50%) rotate(-45deg);
}


/* Positionnement tooltip au survol */
.switcheroo[direction="vertical"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.switcheroo[direction="horizontal"] .switcheroo__squircle:hover .switcheroo__popper {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}



/* LOGO --- */
.switcheroo__logo {
  /* display: none */
  /* à ajouter si vous voulez supprimer le logo*/
}

.switcheroo__logo img {
  width: var(--switcheroo-img-width);
  height: var(--switcheroo-img-height);
  object-fit: cover;
  object-position: center;
}

/* DIVIDER : barre de séparation --- */
.switcheroo__divider {
  /* display: none */
  /* à ajouter si vous voulez supprimer le logo*/
  
  background-color: var(--switcheroo-greyer);
  border-radius: 3px;
  transform: scale(0.8);
}

/* Divider : si vertical */
.switcheroo[direction="vertical"] .switcheroo__divider {
  width: 100%;
  height: 2px;
}

/* Divider : si horizontal */
.switcheroo[direction="horizontal"] .switcheroo__divider {
  width: 2px;
}


/* AJOUTER UN COMPTE ---*/

/* button : ajouter un compte */
.switcheroo__squircle--button {
  transition: border-radius 128ms var(--switcheroo-ease);
  color: var(--switcheroo-text);
}
.switcheroo__squircle--button:hover {
  color: var(--switcheroo-light);
  font-weight: bold;
}


/* MODAL : FENETRE DE CONNEXION --- */

/* Fond de l'afficage connexion */
.monomer-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s opacity ease;
  background: rgba(255, 255, 255, 0.6);
}

/* Boîte de connexion */
.monomer-modal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 94%;
  padding: 24px 20px;
  transition: 0.2s opacity ease;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: var(--switcheroo-grey);
  border: var(--switcheroo-border);
  color: var(--switcheroo-text);
}

/* Formulaire */
.switcheroo__form {
  padding: 48px;
  background: var(--switcheroo-light);
  border-radius: 5px;
}

/* Champs à remplir */
.switcheroo__form-row {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-bottom: 16px;
}

/* Nom du champ */
.switcheroo__form-label, label.switcheroo__form-label {
  margin-bottom: 8px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--switcheroo-text);
}

/* Zone de texte */
.switcheroo__form-input, input.switcheroo__form-input {
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--switcheroo-light);
  border: var(--switcheroo-border)!important;
  border-bottom: 3px solid var(--switcheroo-greyer)!important;
  color: var(--switcheroo-text);
  cursor: text;
}

/* Bouton de connexion */
.switcheroo__form-button, button.switcheroo__form-button {
  border-radius: 8px;
  padding: 4px 6px;
  outline: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  align-self: flex-end;
  background-color: var(--switcheroo-light);
  border: var(--switcheroo-border);
  cursor: pointer;
}

.switcheroo__form-button:hover {
  border: 1px solid transparent;
  background: var(--switcheroo-text);
  color: var(--switcheroo-light);
}

.monomer-modal.monomer-open, .monomer-overlay.monomer-open {
  opacity: 1;
}

/* Fermer la boîte de connexion */
.monomer-close {
  font-size: 20px;
  display: grid;
  place-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -7px;
  right: -7px;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  background: var(--switcheroo-close);
  border-radius: 50%;
  padding: 0;
}
.monomer-close:hover {
  background: var(--switcheroo-text);
  font-weight: 700;
}

.avatarasnariusarase img {
 border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  padding: 2px;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  opacity: 100%;
  background: #242421;
  margin-top:10px;
}

.vardasnariusarase {
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
display: normal;
font-size: 18px;
line-height:20px;
text-align: center; 
font-style: normal;
text-decoration: none;
text-transform: uppercase;
  font-family: 'source sans pro'!important;
margin:5px;}

.apsilankymasirpostai {
    font-weight:bold;
  font-family: 'PT Sans Narrow';
    font-size: 9px;
  letter-spacing: 1px;
text-transform: uppercase; 
  text-align: center;
  border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
    background: #292725;
  padding: 7px;
  border-radius: 7px;
  width: 250px;
  margin-left: 8px;
margin-right:8px;
margin-top:5px;
margin-bottom: 15px;
}


img#i_logo {width:1050px;
margin-top: 25px;
margin-bottom:-100px;
  border-radius: 20px;
  padding:3px;
 border: 0px solid;
    border-image: linear-gradient(to right, #5b3f34, #706656) 1; /* Apply gradient as border image */
}



.image-container img {
    border: 1px solid #3b3835;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   padding: 3px;
    border-radius: 0px; 
  width: 140px; 
  height: 120px;

  display: flex; 
  align-items: center;

  object-fit: cover;
    display: inline-block;
}

.hover-text {
    display: none;
    position: relative;
    bottom: 0px; /* Adjust to position text right under the image */
    left: 0px;
    width: 140px;
  overflow-x: scroll
    white-space: nowrap
    background-color: ;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
text-transform: uppercase;
text-align: left;
 font-weight: bold;
font-size: 8px;
  letter-spacing: 2px; 
  line-height: 1.5;
font-family: 'Source Sans Pro';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
   
   padding: 3px;
}

.hover-text::-webkit-scrollbar {
  width: 1px; /* Adjust the width of the scrollbar */
  height: 2px;
}

.image-container:hover .hover-text {
    display: block;
}

.linijapotema {
  border-bottom: 1px solid; /* Remove the border color */
    border-image: linear-gradient(to right, #333330, #21211F) 1;
margin-top:3px;}

.temosautorius {
  font-size:9px;
  text-transform: uppercase; 
  letter-spacing:1px;
  font-family: 'PT Sans Narrow';
font-weight: bold;}

.temospavadinimas {
  font-size:14px;
  text-transform: uppercase; 
  letter-spacing:1px;
  font-family: 'PT Sans Narrow';
font-weight: bold;}

.temosaprasymas {
  font-size:8px;
  text-transform: uppercase;
  letter-spacing:1px;
color: white;
  font-weight: bold;
  font-family: 'PT Sans Narrow';
}

.paskutinezinute {
  font-weight:bold;
  font-family: 'PT Sans Narrow';
    font-size: 9px;
  letter-spacing: 1px;
text-transform: uppercase; 
  text-align: left;
  border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
    background: #292725;
  padding: 7px;
  border-radius: 7px;
margin-left: 5px;
  margin-top: 13px;
  margin-right:15px;
  width: 200px;
  }

.repliesandviews {
   text-align: center; 
  width: 110px; 
  font-size:7px;
  text-transform: uppercase; 
  letter-spacing:1px;
  font-family: 'PT Sans Narrow';
  color: white;
background-image: linear-gradient(to right, #5b3f34, #8F7563);
border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  padding: 5px;
  border-radius: 7px;
margin-right:-25px;
opacity:60%;}
  
.gotopage {
font-size:9px;
  text-transform: uppercase; 
  letter-spacing:1px;
  font-family: 'PT Sans Narrow';
font-weight: bold;}

.naujaspostastemose{
  border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  padding: 2px;
  border-radius: 100px;
  width: 55px;
  height: 55px;
  margin-left: 20px;
  margin-right: 10px;
  object-fit: cover;
  opacity: 100%;
  background: #242421;
}

.svarbusglobalannouncement {
  font-size:9px;
  text-transform: uppercase; 
  letter-spacing:1px;
  font-family: 'PT Sans Narrow';
font-weight: bold;}


/*INFORMACIJA HOME PUSLAPYJE, KUR PASKUTINE ZINUTE, MINI AVATARAS*/
.temosirpostai{
  text-align: center; 
  width: 110px; 
  font-size:8px;
  text-transform: uppercase; 
  letter-spacing:1px;
  font-family: 'PT Sans Narrow';
  color: white;
background-image: linear-gradient(to right, #5b3f34, #8F7563);
border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  padding: 5px;
  border-radius: 7px;
margin-left:80px;
opacity:60%;}

.pavadinimasdatavieta {font-weight:bold;
  font-family: 'PT Sans Narrow';
    font-size: 9px;
  letter-spacing: 1px;
  border: 1px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background: #292725;
  padding: 5px;
  border-radius: 7px;
  margin-left: 10px;
  margin-top: 8px;
  width: 205px;
  margin-right: 10px;

  }
    


.postinimolaikas
 {font-weight:bold;
  font-family: 'PT Sans Narrow';
    font-size: 9px;
  letter-spacing: 1px;
text-transform: uppercase; 

  }

/*SUBFORUMAI (NAMAI, PASTATAI N SHIT) */
.vietoves {
    background: #292725;
  color: #242421; /*kableliai tarp kategorijų*/
  text-indent: 0px;/*kableliai tarp kategorijų*/
  letter-spacing: 0px;/*kableliai tarp kategorijų*/
  font-family: 'PT Sans Narrow';
  font-size: 0px; /*kableliai tarp kategorijų*/
border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  padding: 5px;
  border-radius: 7px;
    text-align:left;
  width: 100px;
  height: 86px;
  overflow: auto;
  margin-right: 5px;
  margin-left: 8px;
  
}


.vietoves::-webkit-scrollbar {
  width: 0px; /* Adjust the width of the scrollbar */
  height: 0px;
}

.naujaspostas{
  border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  padding: 2px;
  border-radius: 7px;
  width: 40px;
  height: 92px;
  margin-left: 0px;
  margin-right: 0px;
  object-fit: cover;
  opacity: 100%;
  background: #292725;
}

.gensmall {
font-weight:bold;
  font-family: 'PT Sans Narrow';
    font-size: 10px;
  letter-spacing: 1px;
text-transform: uppercase;}


a[href="/g34-hunters"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g2-humans"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g3-vampires"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g35-vegetarians"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g26-newborns"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g5-volturi"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g4-werewolves"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g6-human-vampire-hybrids"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}
a[href="/g36-witches"] {
text-transform: uppercase;
font-family:'Source Sans Pro';
  font-size: 10px;
}


thepress {background-image: linear-gradient(to right, #5b3f34, #8F7563);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;}

hybridwitch {
background-image: linear-gradient(to right, #405752, #8f623f);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}

hybridhunter {
background-image: linear-gradient(to right, #94655D, #8F623F);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}

vampirehunter {
background-image: linear-gradient(to right, #7B403B, #94655D);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}

supernaturalhuman {
background-image: linear-gradient(to right, #756059, #4C4957);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}

hunterwitch {
background-image: linear-gradient(to right, #94655D, #405752);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}

vampirewitch {
background-image: linear-gradient(to right, #405752, #803131);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: bold;
}


#div_minchars {
     text-transform: uppercase;
text-align: center;
 font-weight: bold;
font-size: 8px;
  letter-spacing: 2px; 
  line-height: 1;
font-family:'Source Sans Pro';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

#div_minchars_info {
   text-transform: uppercase;
text-align: center;
 font-weight: bold;
font-size: 8px;
  letter-spacing: 2px; 
  line-height: 1;
font-family:'Source Sans Pro';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  color: white;
}

#div_minchars_info span[style*='color:white'] {
font-size: 10px;
font-style: italic;
}



.quote {
    border: 1px solid #333330; 
  border-radius: 7px;
  background: #333631 !important;
letter-spacing:1px;
  width: auto;
  height: 100%;
  padding: 7px;
  font-family: 'pt sans narrow;
    line-height:11px;
  font-size: 11px;
  letter-spacing:0px;
  color: #D3D3D3;
  display: inline-block;
}



body {
  background: linear-gradient(to right, #1C1C1B, #392019, #1C1C1B);
}



.gradient-background {
    background: linear-gradient(to right, #3d3d42, #8A726C);
    display: inline-block;
    color: white; /* Text color */
  border: 0px solid;
  padding: 4px;
}
 

.rangoPaveikslelis {
  border: 1px solid #3b3835;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
   padding: 3px;
    border-radius: 100px; 
  width: 100px; 
  height: 100px;
  margin: 0 auto;  
  display: flex; 
  align-items: center;
  margin: 0 auto;
  object-fit: cover;
  filter: grayscale(100%) contrast(110%);
    opacity: 100%!important;
}


.rangoTekstas {
  color: #96908a;
  text-align: justify;
font-family: source sans pro;
padding: 5px;
line-height: 8px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
width: 150px;
margin: 0 auto;}



input.forminput {
display: inline-block;
  background: #292927;
  border-style: solid;
    border-width: 1px;
   padding: 3px;
  width: 230px;
  border-color: #333330;
text-transform: uppercase;
text-align: center;
 font-weight: bold;
font-size: 8px;
  letter-spacing: 2px; 
  line-height: 1;
font-family:'Source Sans Pro';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}





generalentele { margin-bottom: 5px;
  display: inline-block;
  background: #292927;
  border-style: solid;
    border-width: 1px;
   padding: 3px;
  width: 230px;
  border-color: #333330;
text-transform: uppercase;
text-align: center;
 font-weight: bold;
font-size: 8px;
  letter-spacing: 2px; 
  line-height: 1;
font-family:'Source Sans Pro';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

generatekstas{ margin-bottom: 5px;
  display: inline-block;
text-transform: uppercase;
text-align: justify;
 font-weight: bold;
font-size: 8px;
  letter-spacing: 2px; 
  line-height: 1;
font-family:'Source Sans Pro';
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
}

/*KATEGORIJŲ APRAŠYMAI */
.genmed{
    padding-right: 15px
  padding-left: 15px
 margin-bottom: 1px;
  text-align: justify;
text-transform: none;
  font-weight: bold;
font-size: 11px;
  letter-spacing: 2px; 
  line-height: 1;
font-family:'Source Sans Pro';
  display: inline-block;

   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  margin-top:0px;
}
  
  
  
.roid4{margin: 40px auto; width: 550px; display: flex; flex-wrap: wrap; justify-content: space-around; text-align: center; font-family: 'Cedarville Cursive', cursive; font-size: 12px; color: #2e2e2e; line-height: 110%}.roid4 img{width: 200px, height: 200px; padding: 15px 0}.roid5{width: 230px; height: 270px; background: #f1f1f1; box-shadow: 3px 3px 8px #888; transform: rotate(-12deg)}.roid6{width: 230px; height: 270px; background: #f1f1f1; box-shadow: 3px 3px 5px #888; transform: rotate(10deg); margin-left: -40px}.roid7{width: 230px; height: 270px; background: #f1f1f1; box-shadow: 0 8px 6px -6px #888; transform: rotate(10deg); margin: -100px 0 0 45px}.roid8{width: 230px; height: 270px; background: #f1f1f1; box-shadow: 0 8px 6px -6px #888; transform: rotate(-25deg); margin: -120px 0 0 -35px}.stcred{margin: 0 auto; width: 400px; text-align: center}.stcred a{text-decoration: none; font-family: calibri; font-size: 9px; color: #888; text-transform: uppercase; letter-spacing: 3px}



hunter {color:#94655D;}
werewolf {color:#434F3F;}
hybrid {color: #8F623F;}
witch {color: #405752;}
human {color: #4C4957;}
vampire {color: #944444;}
volturi {color: #664E64;}
vegetarian {color: #7B403B;}

.big-to-small {
      height: 100px; /* Set the initial width */
   display: inline-block;

   border-radius: 5px;
      transition: transform 0.5s ease; /* Add a smooth transition effect */
  
    }

    /* Increase the size on hover */
    .big-to-small:hover {
     transform:scale(4) /* Set the scale factor to make it bigger on hover */
    }

.gallery-scroll {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;

      height: 340px !important;
    object-fit:cover;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
}



instaat {
font-weight: bold;
   /* Link color */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Link style on hover */
instaat:hover {
 font-weight: bold;
  cursor: pointer; /* Show a hand cursor on hover to indicate clickability */
}


instagram {
  text-align: right;
  color: white;
  font-weight: bold;
  font-size:10px;
  font-family:montserrat;}
  
  
it 
    {color: #667062;}
  
fr {
color: #784441;}

gr {
color: #74717a;}

de {
color: #998d76;}

.glow {
  color: white;
  font-size: 7px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #ADA6A6, 0 0 5px #ADA6A6, 0 0 20px #D1D1D1, 0 0 20px #D1D1D1, 0 0 30px #D1D1D1, 0 0 35px #D1D1D1, 0 0 20px #D1D1D1;
  }
  to {
    text-shadow: 0 0 5px #ADA6A6, 0 0 10px #EBEBEB, 0 0 20px #EBEBEB, 0 0 30px #EBEBEB, 0 0 35px #EBEBEB, 0 0 40px #EBEBEB, 0 0 20px #EBEBEB;
  }
}



  



html { font-family: 'PT Sans', Georgia, serif; }

/*CITUOTI POSTA, REDAGUOTI IR KT.*/
.post-options {
font-weight:bold;
  font-family: 'PT Sans Narrow';
    font-size: 9px;
  letter-spacing: 1px;
  line-height:9px;
text-transform: uppercase;
    background-image: linear-gradient(to right, #5b3f34, #8F7563);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


  
.vote {float: right;
width: 40px;
margin-left: 1px;}

.vote .vote-bar {
  border: none;
  background: #1c1c1a;
height: 15px;
width: 20px;

  color: ;
   }



#back-top {
   position: fixed;
   bottom: 30px;
   margin-left: 1150px;
}
 
#back-top a {
   width: 30px;
   display: block;
   text-align: center;
   font: 8px/100% Arial, Helvetica, sans-serif;
   text-decoration: none;
  text-transform: uppercase;
   color: #bbb;
 
   /* transition */
   -webkit-transition: 1s;
   -moz-transition: 1s;
   transition: 1s;
}
#back-top a:hover {
   color: #4D524C;
}
 
/* arrow icon (span tag) */
#back-top span {
   width: 0px;
   height: 0px;
   display: block;
   margin-bottom: 7px;
   background: #4D524C url(https://i.imgur.com/j1lW8Cf.png) no-repeat center center;

 
   /* rounded corners */
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   border-radius: 100%;
 
   /* transition */
   -webkit-transition: 1s;
   -moz-transition: 1s;
   transition: 1s;
}
#back-top a:hover span {
   background-color: #4D524C;
}

#groupLegend {
  color: #1C1C1B;}


/* -------------------------------- QEEL -------------------------------- */


        /*** SIUO METU ONLINE ***/
        .prisijunge_nariai {
          background-color: #21211F;
          padding: 15px;
          width: 315px;
          height: 60px;
          overflow: auto;
          font-size: 8px;
          border: 1px solid #333330;
          text-align: justify;

  text-transform: uppercase;
        }

        /*** STATISTIKA ***/
        .statistika {
  font-size: 8px;
          background-color: #21211F;
           padding: 15px;
width: 315px;
          height: 60px;
          overflow: auto;
  text-transform: uppercase;
          border: 1px solid #333330;
          text-align: justify;
          margin: auto;
 
        }

        /*** MISE EN FORME BLOC DES CONNECTES LES 24H ***/
        .prisijunge_para {
          background-color: #21211F;
          padding: 15px;
width: 315px;
          height: 60px;
          overflow: auto;
  scrollbar-width: none;
         font-size: 8px;
          border: 1px solid #333330;
          text-align: justify;
  text-transform: uppercase;

        }

        /*** PRISIJUNGE PER 24 VALANDAS ***/
        #kaboum .row1 {
          background-color : transparent;
        }

        #kaboum span.gensmall {
  font-family: TrebuchetMS,arial;
  font-size: 9px;
  text-transform: uppercase;
        }




        /*** GROUPES A ONGLETS ***/
        /* Mise en forme des noms de groupe */
        .groupe_onglet {
          display: inline-block;
          padding: 10px;
        }

        /* Mise en forme du bloc en transparence de description */
        .contenu_groupe_onglet {
          padding: 15px;
          display: none;
          width: 315px;
          height: 115px;
          overflow: auto;
          font-size: 12px;
          color: #414141;
          text-align: justify;
          background-color: #CBC4C2;
          position: absolute;
          top: 14em;
          left: 21em;
          filter: alpha(opacity = 50);
          opacity: 0.5;
        }

        /* Mise en forme des liens */
        .contenu_groupe_onglet a{
          text-decoration: none !important;
        }



        /* -------------------------------- FIN QEEL -------------------------------- */

.grupes {
       display: none;}


.apacia {
    color: #1c1c1a;
        font-size: 7px;
        letter-spacing: 2px;
        margin: -1% 2%;
        text-transform: uppercase;
        display: inline-block;
  font-family: 'PT Sans Narrow';
text-align: center!important;}


/* LIENS HEADER */
.liens_header_categories a {
        color: #1c1c1a;
        font-size: 8px;
        letter-spacing: 2px;
        margin: 0 2%;
        text-transform: uppercase;
        display: inline-block;
  	font-family: 'Maven Pro', Arial;

}

.liens_header_categories {
        text-align: center;
        margin: 2% 0;
 
}



/* TITRE CATEGORIES */
.header_categories h2 {
        height: 25px!important;
  text-align: center;
        text-transform: uppercase;
        padding: 10px;
  font-family: 'PT Sans Narrow';
        background: url();
        color: #CDD1CA;
        border: 1px solid #2C2C29;
    background-image: linear-gradient(to right, #5b3f34, #8F7563);
  font-weight: normal;
  letter-spacing: 0px;
  font-size: 17px;
  text-shadow: 0px 0px 1px #14110E;
    border-radius:7px;
}

  






/* DERNIER MESSAGE */
.forum_dernier_mess {

  font-size: 9px;
  text-transform: uppercase;
  text-align: justify;
}

uzm {color: #704441;}
laisva {color: #455e47;}
ded {color: #828282;}
girl {color: #6E4D4D;
font-weight: bold;}
boy {color: #63616e;
font-weight: bold;}
rez {color: #E0B3B3;
font-weight: bold;}


leo {color: #82756B;
font-style: italic;}


/* latin */
@font-face {
  font-family: 'Carrois Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic'), local('CarroisGothic-Regular'), url(https://fonts.gstatic.com/s/carroisgothic/v5/GCgb7bssGpwp7V5ynxmWy-RYAdd4IhfhHjBEc43Trp8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#backtotop{display: none;
}

.avaBox img{background:#21211F;
  border: solid 1px #ffffff;
  padding: 1px;
  border-color: #333330;
  display:block;
  height:300px;
  opacity:1!important;
  width:200px
text-color: #1c1c1a!important;
object-fit: cover;}
 

.avaBox img{background: #292927;
  border-style: solid;
    border-width: 3px;
   padding: 0px;
  border-color: #333330;
    border-radius:7px;
  display:block;
  height:300px;
  opacity:1!important;
  width:200px
}
  .belowInfo{
 
  
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
  width:200px!important;
  height: 100%!important;
  text-align: center;
 
    text-transform: ;
  text-align: left;
font-size:11px;
  font-family:Carrois Gothic;
}


.profileInfo{
    background: #21211F;
    font-family: source sans pro;
    letter-spacing: 0px;
    text-align: justify;
    font-size: 10px;
    width:50px;
  height: 100%;
    left: 1px;
    right:10px;
    bottom:1px;
    padding:9px;
    opacity: 0;
    overflow: auto; /* Use overflow: auto; for scrollable content */
    position: absolute;
    top: 2px;
    border-radius:4px;
  transition:.8s;
  width:184px;
  height:284px;
  z-index:3

  }
.profileInfo:hover{-moz-transition:.8s all ease-in-out;
  -o-transition:.8s all ease-in-out;
  -webkit-transition:.8s all ease-in-out;
  opacity:0.9;
  transition:.8s all ease-in-out;

}

.profileInfo::-webkit-scrollbar {
  width: 0px; /* Adjust the width of the scrollbar */
}

.poster-profile{display:block;
  margin: 15px;
  position: relative;}






::-webkit-scrollbar {width: 5px; height: 10px; background-color: #8A726C; }
::-webkit-scrollbar-track-piece {background-color: #141413;}
::-webkit-scrollbar-thumb { background: #444D44;}





/* latin */
@font-face {
  font-family:'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


span.lastpost-avatar img {
 border: 2px solid #292725;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  background: #292725;
  padding: 2px;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin-left: 0px;
  margin-right: 0px;
  object-fit: cover;
  opacity: 60%;
  background: #242421;
  opacity: 0.9;
object-fit: cover;
  margin-top: 15px;

}


.bodyline {

opacity:1.0;
filter:alpha(opacity=100);
background-repeat: repeat;
border-radius:0px;
}


/* Profile popup */
    #profcont-container {
background-image: url(https://i.imgur.com/vwjX7jC.jpg)!important;
        border:1px solid #181616 !important;
    }

    #userAVA img{
        position:absolute;
        top:43px;
        right:30px;
        height:300px;
        width:200px;
  object-fit: cover;
    }

    .profile_popup_nav {
 background-image: url(https://i.imgur.com/vwjX7jC.jpg)!important;
        margin:-4px -4px 10px -4px;
        padding:3px;
        padding-top:10px !important;
        height:auto;
        border-bottom:1px solid #201210;
        -webkit-border-radius:0px 0px 0px 0px;
        -moz-border-radius:0px 0px 0px 0px;
        border-radius:0px 0px 0px 0px;
    }

    .propop_tab {
        color:#0e0909;
        text-shadow:1px 1px 0 #F5F5F5;
        cursor:pointer;
        -webkit-border-radius:0px 0px 0px 0px;
          -moz-border-radius:0px 0px 0px 0px;
                border-radius:0px 0px 0px 0px;
        border:1px solid #181616;
        border-bottom:none;
        -webkit-box-shadow:0px 10px 6px rgba(255,255,255, 0.5) inset;
          -moz-box-shadow:0px 10px 6px rgba(255,255,255, 0.5) inset;
                box-shadow:0px 10px 6px rgba(255,255,255, 0.5) inset;
 background-image: url(https://i.imgur.com/vwjX7jC.jpg)!important;
        margin:0 2px;
        padding:3px;
    }

    .propop_tab:hover {
        position:relative;
        top:1px;
        color:#181616;
        text-shadow:none;
background-image: url(https://i.imgur.com/vwjX7jC.jpg)!important;
    }

    .propop_tab.activeTab {
        position:relative;
        top:1px;
        color:#181616;
        text-shadow:none !important;
background-image: url(https://i.imgur.com/vwjX7jC.jpg)!important;
    }

    #profileLinks {
background-image: url(https://i.imgur.com/vwjX7jC.jpg)!important;
        display:block;
        padding:3px;
        margin:10px -4px -4px -4px;
        border-top:1px solid #181616;
        -webkit-border-radius:0px 0px 0px 0px;
        -moz-border-radius:0px 0px 0px 0px;
        border-radius:0px 0px 0px 0px;
    }


.name{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
display: normal;
font-size: 20px;
line-height:20px;
text-align: center; 
font-style: normal;
text-decoration: none;
text-transform: uppercase;

font-family: 'source sans pro'!important;
}


.postdetails.poster-profile span.label {
font-family: 'source sans pro';
font: #6E2626;
font-size: 9px;
letter-spacing: 0px;
text-transform: uppercase;
  font-weight: bold;
}

div.profile_field {
    padding:0px;
   font-size: 12px;
font-family: 'source sans pro';
  font-weight: bold;
  font-style: normal;
  
}



@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://themes.googleusercontent.com/static/fonts/ptsansnarrow/v5/UyYrYy3ltEffJV9QueSi4SKcWxPzpBdmMhLdnPeJyd4.woff) format('woff');
}




.forumline {
background-repeat: repeat;
border-radius: 15px;
  border: solid 1px #2C2C29;
  padding: 0px;

}

.forumline {

     border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}


.code {

    font-family: arial;
    font-size: 8px;

    border-top-left-radius: 7px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 8px;
}

.selectCode { margin-left:10px; cursor:pointer; hover: color:#f00; font-weight:bold; font-size: 9px;}

.forumlink {border: 1px solid #2C2C29;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3); 
  border-radius: 7px;
    border-radius: 7px;
      padding: 5px;
    margin-bottom:5px;
      background: #292725;
      
}
  .forumlink: hover {
   background-image: linear-gradient(to right, #A68A80, #a37665, #667062));
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;}
  

.forumlinktekstas {
    font: 17px 'PT Sans Narrow';
font-style: normal;
  text-align: left;
text-transform: uppercase;
letter-spacing: 0px;
text-shadow: 1px 1px 0px #;
  line-height: 100%;
    margin-bottom: -3px;}




.postbody {
font-size:14px;
  letter-spacing: 1px;
font-family: 'Source Sans Pro';
text-align: justify;
  width: 760px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

}

#RA_NAVIGACIJA {  
    width: 100%; 
    height: 40px;  
    background-color: #21211F;
    box-shadow: 0 0 2px #spalvos skaiciai;  
     font-weight: bold;
    left: 0px;    
    letter-spacing: 1px;    
    padding: 0px;
    position: fixed;
    text-transform: uppercase;    
    top: 0px;    
    z-index: 99;
    border-bottom: 2px solid; /* Remove the border color */
    border-image: linear-gradient(to right, #5b3f34, #8F7563, #5b3f34) 1; /* Apply gradient as border image */
}


#RA_NAVIGACIJA a {
  text-align: left; 
color:white;
font-size: 9px;
  letter-spacing: 1px; 
  line-height: 1;
  font-weight:bold;
font-family: pt sans narrow;
  text-transform: uppercase;   
  transition: all 0.5s ease-in-out 0s;
}
  
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none; }
a:active {text-decoration:none;}
.border { padding:3px; border:1px solid #1C1C1B; }



