.reikmenumygtukas-container, 
.network, 
.tvarkymas, 
.templatesbutton, 
.imagesbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #292725;
  text-decoration: none;
  border-radius: 7px;
  width: 12px;
  height: 14px;
  position: fixed;
  left: 96.55vw;
}

/* Set specific top positions for each button with 10px spacing */
.templatesbutton {
  top: 10vh;
}

.imagesbutton {
  top: calc(10vh + 34px); /* 10vh + 14px height + 10px spacing */
}

.network {
  top: calc(10vh + 68px); /* previous position + 34px (height + spacing) */
}

.tvarkymas {
  top: calc(10vh + 102px); /* previous position + 34px */
}

.reikmenumygtukas-container {
  top: calc(10vh + 136px); /* previous position + 34px */
}

/* Common hover styles */
.reikmenumygtukas-container:hover,
.network:hover,
.tvarkymas:hover,
.templatesbutton:hover,
.imagesbutton:hover {
  color: #d4c8be; 
  cursor: pointer; 
}

/* Dark mode styles */
.dark-mode .reikmenumygtukas-container,
.dark-mode .network,
.dark-mode .tvarkymas,
.dark-mode .templatesbutton,
.dark-mode .imagesbutton {
  background-color: #f5f5f5;
}

/* Icon styles */
.reikmenumygtukasicon {
  transform: scale(1.5);
  vertical-align: middle;
  overflow: hidden;
  color: #6E6761 !important;
}

.networkicon {
  transform: scale(2);
  vertical-align: middle;
  overflow: hidden;
}

.templatesicon {
  transform: scale(1.5);
  vertical-align: middle;
  overflow: hidden;
}

.imagesicon {
  transform: scale(1.4);
  vertical-align: middle;
  overflow: hidden;
}

/* Menu links styles */
.reikmenulinks {
  display: none;
  flex-direction: column;
  background-color: #292725;
  border-radius: 6px;
  padding: 6px;
  margin-right:190px;
  margin-top:102px;
}

.reikmenulinks a {
  text-decoration: none;
  font-family:'Lemon/Milk light', sans-serif;
  font-size:11px;
  letter-spacing:1px;
  line-height:15px;
  width:160px;
  text-align:right;
}

.dark-mode .reikmenulinks {
  background-color: #f5f5f5;
}