.dark-mode div#FAM {background:#f5f5f5; border:5px solid #e0dddd;}
.dark-mode div#FAM-actions {background:#f5f5f5;}
.dark-mode div#FAM-tabs {background:#f5f5f5;}
.dark-mode .FAM-msg-content {background:#fafbfc;}
.dark-mode .FAM-tab-name {background:#fafbfc;}
.dark-mode .FAM-tab-close.fa.fa-times {background:#fafbfc;}
.dark-mode button#FAM-attachment {background:#f5f5f5;}
.dark-mode button#FAM-emoji {background:#f5f5f5;}
.dark-mode button#FAM-send {background:#f5f5f5;}
.dark-mode button#FAM-attachment:hover {background:#f5f5f5;}
.dark-mode button#FAM-emoji:hover {background:#f5f5f5;}
.dark-mode button#FAM-send:hover {background:#f5f5f5;}
.dark-mode span#FAM-msg-container {background:#f5f5f5;}
.dark-mode div#FAM-tabs {background:#f5f5f5;} 
.dark-mode .FAM-msg-avatar {border:1px solid white;}
.dark-mode .dark-mode-toggle {width:25px; background:rgba(224, 221, 221, 0.1);color:#9c948e}
.dark-mode a#FAM-button {background:rgba(224, 221, 221, 0.1);color:#9c948e}
.dark-mode a#FAM-button:hover {background:rgba(224, 221, 221, 0.1);color:#9c948e}
.dark-mode .FAM-msg-content {color:#6E6761;}  

div#FAM {right:100px; border-radius:7px; background:#21211f;
font-family:'archivo', sans-serif;
font-size:10px; letter-spacing:1px;border:5px solid #292725;}

div#FAM-actions {border-radius:7px; background:#21211f;
font-family:'archivo', sans-serif;
font-size:10px; letter-spacing:1px;border:none;}

div#FAM-tabs {background:#21211f;}

div#FAM-toolbar {border-radius:7px;background-image: linear-gradient(to right, #403129, #736356) !important; border:none !important; font-family:'archivo', sans-serif;
font-size:12px; letter-spacing:1px; text-transform:uppercase;}

.FAM-msg-content {background:#292725; text-align:justify;color:#999490;}
.FAM-msg-content::before {display:none;}

.FAM-tab-name {background:#292725; color:#999490;}
.FAM-tab-close.fa.fa-times {background:#292725; color:#999490;}

.FAM-msg-avatar img {object-fit:cover;border-radius:7px;width:50px; height:50px;
      position: relative;
top: -5px; /* Adjust this value to move the image up */
    left: -5px;}
.FAM-msg-avatar {border-radius:7px; border:1px solid #454545;}

button#FAM-attachment {background:#21211f;border:none;color:#999490;}
button#FAM-emoji {background:#21211f;border:none;color:#999490;}
button#FAM-send {background:#21211f;border:none;color:#999490;}
button#FAM-attachment:hover {background:#21211f;border:none;}
button#FAM-emoji:hover {background:#21211f;border:none;}
button#FAM-send:hover {background:#21211f;border:none;}
span#FAM-msg-container {background:#21211f;border:none;}
div#FAM-tab-add {border:none;color:#999490;}
div#FAM-tab-container {border:none;}
div#FAM-tabs {background:#21211f;border:none;color:#999490;}

a#FAM-button {
position: fixed;
    bottom: 90px;
    right: 20px;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 999;
font-family: 'archivo',sans-serif;
  font-size: 20px;  
  color: #6E6761;
background-color: rgba(82, 76, 70, 0.3);
}

a#FAM-button:hover {
background-color: rgba(82, 76, 70, 0.3);
}
