        .harlownamas {
            position: relative;
            width: 800px;
            height: 600px;
        }
        
        .house-image {
            width: 100%;
            height: 100%;
            object-fit: fill;
          border-radius:7px;
        }
        
        .label {
            position: absolute;
            background-color: rgba(226, 226, 226, 0.8);
            padding: 5px;
            border-radius: 4px;
            font-family: 'lemon/milk light', sans-serif;
            font-weight: bold;
          font-size:8px;
          letter-spacing:1px;
          text-transform:uppercase;
          text-align:center;
        }
        
        .svetaine {
            top: 63%;
            left: 50%;
        }
        
        .virtuve {
            top: 39%;
            left: 58%;
        }
        
        .terasa {
            top: 48%;
            left: 43%;
        }
        
.iejimas {
            top: 80%;
            left: 30%;
        }
.timeoutzona {
            top: 52%;
            left: 55%;
        }
        .vonioskambarys1 {
            top: 60%;
            left: 30%;
        }
        
        .valgomasis {
            top: 42%;
            left: 75%;
        }
        
        .miegamasis {
            top: 53%;
            left: 45%;
        }
 .vonioskambarys2 {
            top: 39%;
            left: 43%;
        }
 .heroskambarys {
            top: 30%;
            left: 60%;
        }
 .palepe {
            top: 23%;
            left: 50%;
        }
.amess {
            top: 45%;
            left: 40%;
        }
 .triusiai {
            top: 67%;
            left: 7%;
        }

 .vistos {
            top: 63%;
            left: 13%;
        }
 .lieptas {
            top: 49%;
            left: 55%;
        }

 .galiniskiemas {
            top: 55%;
            left: 75%;
        }
 .slaptasdarzas {
            top: 32%;
            left: 12%;
        }
 .menopasiure {
            top: 47%;
            left: 32%;
        }
 .prieskambaris {
            top: 69%;
            left: 30%;
        }
.civilizacija{top:100%;left:80%;}
.miskai{top:15%;left:50%;}
.parkingas{top:81%;left:70%;}
.lokacijosid {text-transform:uppercase;
font-size:13px;
font-family:'lemon/milk light', sans-serif;
margin-bottom:10px;
font-weight:bold;
letter-spacing:1px;
border-radius:4px;
background:#2b2928;
padding:5px;
width: auto;}
