div#memberlist.forumline, table.forumline {border:none !important; background:none !important;}

.liteoption, .ieskoti, select {background:#33312e !important;}
.dark-mode .liteoption, .ieskoti, select {background: #e0dcdc !imporant;}
.dark-mode .memberlist {background: #e0dcdc !important;}

.liteoption, .ieskoti, select {border-radius:7px; padding:5px; font-family: 'archivo', sans-serif;
    font-size: 8px;
  letter-spacing: 1px;
text-transform: uppercase; border:none !important; font-weight:bold; background: #292725;}

.memberlist {font-weight:bold;
  font-family: 'archivo', sans-serif;
    font-size: 18px;
  letter-spacing: 1px;
text-transform: uppercase; 
  text-align: center;
background: #21211f;
  border-radius: 7px;
padding:10px;margin-bottom:50px;}

.nariopaieskatekstas {font-weight:bold;
  font-family: 'archivo', sans-serif;
    font-size: 8px;
  letter-spacing: 1px;
text-transform: uppercase; 
  text-align: center;}
  
.avatarasnariusarase img {
  border: 1px solid #292725;
  border-radius: 7px;
  width: 150px !important;
  height: 225px !important; /* Corrected height value */
  object-fit: cover;
  opacity: 100%;
  background: #242421;
  margin-top: 10px;
}


.vardasnariusarase {
display: normal;
font-size: 10px;
line-height:20px;
text-align: center; 
font-style: normal;
text-decoration: none;
text-transform: uppercase;
  font-family: 'archivo', sans-serif!important;}