.quote {padding-left:60px;
    border: 1px solid #242221; 
    border-radius: 7px;
    background: #292725 !important;
    letter-spacing: 1px;
    width: 90%;
    font-family: 'montserrat', sans-serif;
    line-height: 14px;
    font-size: 12px;
    letter-spacing: 0px;
    color: #8f8984;
    display: inline-block;
    position: relative; /* Added for positioning the quote */
    padding-top: 25px; /* Added to make space for the quote mark */
  text-align:justify;
  padding-right:10px;
  padding-bottom:10px;
  margin-bottom:10px;
}

.quote::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 8px;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%238f8984' d='m21.95 8.721l-.025-.168l-.026.006A4.5 4.5 0 1 0 17.5 14c.223 0 .437-.034.65-.065c-.069.232-.14.468-.254.68c-.114.308-.292.575-.469.844c-.148.291-.409.488-.601.737c-.201.242-.475.403-.692.604c-.213.21-.492.315-.714.463c-.232.133-.434.28-.65.35l-.539.222l-.474.197l.484 1.939l.597-.144c.191-.048.424-.104.689-.171c.271-.05.56-.187.882-.312c.317-.143.686-.238 1.028-.467c.344-.218.741-.4 1.091-.692c.339-.301.748-.562 1.05-.944c.33-.358.656-.734.909-1.162c.293-.408.492-.856.702-1.299c.19-.443.343-.896.468-1.336c.237-.882.343-1.72.384-2.437c.034-.718.014-1.315-.028-1.747a7.028 7.028 0 0 0-.063-.539zm-11 0l-.025-.168l-.026.006A4.5 4.5 0 1 0 6.5 14c.223 0 .437-.034.65-.065c-.069.232-.14.468-.254.68c-.114.308-.292.575-.469.844c-.148.291-.409.488-.601.737c-.201.242-.475.403-.692.604c-.213.21-.492.315-.714.463c-.232.133-.434.28-.65.35l-.539.222c-.301.123-.473.195-.473.195l.484 1.939l.597-.144c.191-.048.424-.104.689-.171c.271-.05.56-.187.882-.312c.317-.143.686-.238 1.028-.467c.344-.218.741-.4 1.091-.692c.339-.301.748-.562 1.05-.944c.33-.358.656-.734.909-1.162c.293-.408.492-.856.702-1.299c.19-.443.343-.896.468-1.336c.237-.882.343-1.72.384-2.437c.034-.718.014-1.315-.028-1.747a7.571 7.571 0 0 0-.064-.537z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    opacity: 0.5;
}

.codebox dt .genmed {
font-family: 'lemon/milk light',sans-serif !important;
letter-spacing:4px;
font-size:9px!important;
margin-top: 12px;
position:absolute;
margin-left:61px;
font-weight:bold !important;
z-index:99;
color:#8f8984;}