.character-card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    background: #292725;
    border-radius: 7px;
    border: 1px solid #353331;
    max-width: 300px;
    margin: 10px 0;
}
.dark-mode .character-card {background: #e0dcdc; border: #f5f5f5;}
.dark-mode .char-image img {border:#f5f5f;}
.character-card img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 7px;
    border: 2px solid #333631;
    filter: grayscale(30%) contrast(110%);
}


.char-name {
    font-family: 'lemon/milk light', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;}
