.character-card {
    display: flex;
    max-width: 300px;
    background: #292725;
    border-radius: 7px;
    padding: 8px;
    border: 1px solid #353331;
    margin: 10px;
}
.dark-mode .character-card {background: #e0dcdc;}
.char-image {
    flex-shrink: 0;
    margin-right: 8px;
}

.char-image img {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 7px;
    border: 2px solid #353331;
    filter: grayscale(30%) contrast(110%);
}

.char-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.char-name {
    font-family: 'lemon/milk light', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: -5px;
}
