:root {
    --acc1: #000;
    --acc2:#DD9F8C;
    --acc3:#fff;  
    --white: #fff;
    --black: #000;
    --border: #33312e;
    --border1: 1px solid #33312e;
    --background1: #f1f1f1;
    --background2: #ffffff;
    --background3: #000000;
    --degrade: linear-gradient(-45deg,#ccc9c7,#DD9F8C)!important;
    --degrag: #ccc9c7;
    --gr1: #000;
    --gr2: #DD9F8C;
    --gr3:#6CB29F;
    --gr4: #74ABB6;
    --gr5: #D7A329;
}

/************************* LISTE DES SUJETS *************************/

/***********PARTIE AU-DESSUS ET EN-DESSOUS LISTE DES SUJETS***********/

/*Boutons nouv/rep et navigation*/
.pro_nav {      display: flex;
    font-size: 0;
    margin: 15px 0;
align-items:center;}

/*liens navigation*/
.pro_nav a {    font-size: 12px;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    font-weight: 600;
    padding: 1px 0 0;}

/*styling bouton nouv/rep*/
.pro_nouvrep a {    background: var(--background3);
    color: var(--acc3)!important;
    padding: 2px 10px;
    border-radius: 6px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;    transition: .5s ease;}

.pro_nouvrep {       margin: 0 10px 0 0;
}
.pro_nouvrep a:nth-child(1) {margin:0 10px 0 0;background:#242221;font-family:'Lemon/Milk light', sans-serif; letter-spacing:1px;font-weight:normal !important;}
.pro_nouvrep a:nth-child(1):hover {background-image: linear-gradient(to right, #A8B9BF, #BFA980, #b58d84, #BFA980, #A8B9BF);    transition: .5s ease;
    color: var(--acc3)!important;}


/*liens navigation à côté de bouton rep/nouv*/
.liens_suj { 
    padding: 3px 10px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    font-size: 0;
    align-items: center;}

.liens_suj a {
    margin: 0 15px 0 0;
    text-transform: uppercase;
    font-size: 12px;
  font-weight: 600;}

.liens_suj h1 {margin:0px;}

/*la pagination*/
.pagination {    float: none;
    display: flex;
    justify-content: flex-end;
  font-size: 0px;
margin:0;}

.pagination2 {    
    text-transform: uppercase;
}

.pagination a, .pagination span {font-size:12px;          background: #242221;}

.pagination a {    padding: 0 10px 0;}

.pagination a strong {font-weight:500;}

.pagination b {           background: #242221;
  margin: 0 8px 0 0;
    padding: 0 5px;
    border: none;
    font-size: 12px;
    border-radius: 3px;}

.pagination a, .pagination span a:link, .pagination span a:visited, .pagination span a:active
{
    padding: 0 5px;
    border: none;
    font-size: 12px;
  border-radius: 3px;}

.pagination img {max-width:8px;}

/*titre de liste des sujets*/
.cat_titre { background: var(--background3);
    border-radius: 7px 7px 0 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 14px;
    padding: 9px 20px;
    text-transform: uppercase;}

/*********** LES SUJETS ***********/

/*Div qui contient toutes les balises*/
.af_suj1 {    display: flex;
    background: #292725;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 74px;
    margin: 0 0 7px;}

/*partie image new/no new*/
.af_suj2 {   width: 15px;
    margin-right:11px;}

.af_suj2 img {       width: 15px;
    height: 54px;
    object-fit: cover;
    border-radius: 7px;}

/*partie réponses / vues*/
.af_suj3 {       width: 70px;
    margin-top:auto;
margin-bottom:auto;}

.suj_stat {
  color: #6E6761 !important;
  background: #242221;
  border-radius:7px;
    display: flex;
margin-top:40px;
  text-align:center;
    justify-content: center;
    align-items: center;
    font-size: 9px;
padding:5px;}

.suj_stat:nth-child(1) {
margin:0 0 4px;
color:var(--acc1);}

/*partie titre du sujet, auteur, pagination & description*/
.af_suj4 {width: 75%;}

/*titre du sujet*/
.suj_titre {
    padding: 0 0 4px;
    margin: 0 0 4px;}

a.topictitle {   color: var(--acc1);
    font-weight: 600;
    font-size: 15px;
    text-transform: lowercase;
    line-height: 13px;
font-family: 'Lemon/Milk light', sans-serif;
letter-spacing:1px;}

a.topictitle:hover {
text-decoration:none;}

ba {
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 13px;}

.suj_titre img {margin:0 5px 0 0;}

/*partie auteur et pagination*/
.af_suj5 {    display: flex;}

.suj_auteur {        width: 50%;
  font-size: 9px;
  margin-top:5px;
    text-transform: uppercase;
font-family: 'Lemon/Milk light', sans-serif;
letter-spacing:1px;}

.suj_pagination {    text-transform: uppercase;
    font-size: 0px;
    width: 100%;
    text-align: right;
  }

.suj_pagination a {    font-size: 11px;
    background: #242221;
    padding: 0 9px;
    border-radius: 4px;
    margin: 0 3px 0 0;}

.suj_pagination br, .suj_pagination img {display:none!important;}

.suj_pagination .gensmall {font-size:0px!important;}

/*description du sujet*/

.suj_description {
  font-size: 13px;
font-family:'Montserrat',sans-serif;}

/*partie avatar dernier posteur*/
.af_suj6 {
    box-sizing: border-box;
    margin: auto 7px;}

.af_suj6 img {width: 25px;
    height: 54px;
    border-radius: 7px;
  object-fit: cover;}

/*partie dernier message et dernier posteur pseudo*/
.af_suj7 {width: 20%;
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    align-items: center;
    text-transform: lowercase;
    margin: auto 0;
  font-family: 'Lemon/Milk light', sans-serif;
letter-spacing:1px;}

.af_suj7 span {
  padding:0 10px 0 0;
}

.af_suj7 img {margin:0 0 0 3px;}


/*********** AFFICHAGE SUJETS SI PAS DE SUJETS ***********/
li.row {
    border: none;
    text-align: center;
    list-style: none;
    padding: 9px;
    text-transform: uppercase;
    color: var(--acc1);
    letter-spacing: 1px;
  border-radius: 0 0 10px 10px;
  margin:0 0 10px;
    font-size:14px;
   background:var(--background2);
}

li.row:hover {
    background-color: var(--background2);
}

fieldset {border:none;}