.tpcsfrm {width:214px; background: #33312e; border-radius:7px;
  padding:4px; font-family: 'archivo', sans-serif; font-size:8px;
  font-weigth:900; text-transform:uppercase; text-align:center;}
.dark-mode .tpcsfrm {background: #e0dcdc;}